.card {
  width: 100%;
  max-width: 720px;
  overflow: hidden;
  background-color: #1c1d21;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.content_type {
  color: #cd2f7b;
  font-size: 12px;
}
