.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
}
.wrapper {
  padding: 15px;
}
.link_list {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list_heading {
  padding-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.list {
  width: auto;
  text-align: left;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  margin-top: 24px;
  padding-bottom: 12px;
  padding-right: 24px;
}
.list li {
  line-height: 35px;
}
.socials {
  display: flex;
  gap: 5px;
  width: 100%;
  text-align: left;
}
.social_link {
  display: inline-block;
  height: 100%;
  width: 32px;
}
.social_link:hover {
  background-color: #ffffff29;
}
.line {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #ffffff29;
}
@media (max-width: 500px) {
  .list li {
    line-height: unset;
  }
}
